<div class="search-box">
  <div class="search-form form-inline">
    <%= form_for(:query, url: places_path, method: :get) do |f| %>
      <div class="checkboxes-container ">
        <div class="search-dropdown">
          <%= f.fields_for :tags do |ff| %>
            <div class="multiselect">
              <div class="select-box" id="select-box1">
                <select>
                  <option>All places</option>
                </select>
                <div class="over-select"></div>
              </div>
            </div>
            <div class="dropdown-over2" id="checkboxes1">
              <% Tag::TAGS.each do |tag| %>
                <div class="form-group">
                  <% if @params_hash && @params_hash[tag] == "1" %>
                    <%= ff.check_box tag, value: tag, checked: true, class: "form-control elements-selected1" %>
                  <% else %>
                    <%= ff.check_box tag, value: tag, class: "form-control elements-selected1" %>
                  <% end %>
                  <div class="d-flex"><strong>+</strong><%= ff.label tag %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="search-dropdown">
          <%= f.fields_for :categories do |ff| %>
            <div class="multiselect">
              <div class="select-box" id="select-box2">
                <select>
                  <option>Cuisines</option>
                </select>
                <div class="over-select"></div>
              </div>
            </div>
            <div class="dropdown-over2" id="checkboxes2">
              <% Category::CATEGORIES.each do |category| %>
                <div class="form-group">
                  <% if @params_hash && @params_hash[category] == "1" %>
                    <%= ff.check_box category, value: category, checked: true, class: "form-control elements-selected2" %>
                  <% else %>
                    <%= ff.check_box category, value: category, class: "form-control elements-selected2" %>
                  <% end %>
                  <div class="d-flex"><strong>+</strong><%= ff.label category %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="location-searchbar">
          <% if @params_hash && @params_hash["address"] != "" %>
            <%= f.text_field "address", value: @params_hash["address"], id: "location-searchbar" %>
          <% else %>
            <%= f.text_field "address", placeholder: "Close to...", id: "location-searchbar" %>
          <% end %>
        </div>
      </div>
      <div id="fields-selected"></div>
      <div class="search-attribute">
        <% @booleans = ["brunch", "terrace", "monday_night", "sunday_night"] %>
        <% @booleans.each do |boolean| %>
          <div class="form-group boolean">
            <% if @params_hash && @params_hash[boolean] == "1" %>
              <%= f.check_box boolean, value: boolean, checked: true, class: "form-control boolean-input"%>
            <% else %>
              <%= f.check_box boolean, value: boolean, class: "form-control boolean-input"%>
            <% end %>
            <%= f.label boolean, class: "boolean-label" %>
          </div>
        <% end %>
        <div class="find">
          <%= f.submit "Search", value: "Search", class: "form-control go-button" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="switch">
    <%= render 'shared/open_now'%>
    <%= render 'shared/show_map'%>
  </div>
</div>
