<div class="places" style="background-color: white;">
  <div class="page-setup">
    <div class="event-img">
      <%= image_tag "brunchclub_home.jpg" %>
    </div>
    <div class="flex-title text-center col-12">
      <div class="justify-content-between">
        <!-- <div class="col-2"></div> -->
        <div class="title">
          <h4><strong><%=@event.title%></strong></h4>
        </div>
        <!-- <div class="col-2"></div> -->
      </div>
      <% if @event.subtitle %>
        <div class="subtitle">
          <p><light><%=@event.subtitle%></light></p>
        </div>
      <% end %>
    </div>
    <div class="row content-info">
      <div class="flex-content col-8" style="background-color: transparent;">
          <p><%=@event.content.html_safe%></p>
      </div>
      <div class="flex-sidebar-place col-4">
        <div class="flex-info-place">
          <div class="info">
            <p id="info"><%=@event.event_date.strftime("%d %B %Y, at %H:%m")%></p>
            <p id="info"><%=@event.address%></p>
            <% if @event.details %>
              <p id="info"><%=@event.details.html_safe%></p>
            <% else %>
              <p id="info">No details</p>
            <% end %>
            <% if @event.price_indication %>
              <p id="info"><%=@event.price_indication.html_safe%></p>
            <% else %>
              <p id="info">No price indication</p>
            <% end %>
          </div>
        </div>
        <% if @event.state == "upcoming" %>
          <%= link_to "Get tickets", @event.tickets_link, class: "btn btn-link btn-outline-success", id: "booking-btn", target: "_blank" %>s
        <% end %>
        <%= render 'shared/brunch_club' %>
        <%= render 'shared/bk_books' %>
      </div>
    </div>
  </div>
</div>
