<div class="places" style="background-color: white;">
  <div class="page-setup">
    <% if @event.images.where(main: true).first.photo %>
      <div class="flex-main-img">
        <%= cl_image_tag(@event.images.where(main: true).first.photo, crop: :fit) %>
      </div>
    <% end %>
    <div class="flex-title text-center col-12">
      <div class="justify-content-between">
        <!-- <div class="col-2"></div> -->
        <div class="title">
          <h4><strong><%=@event.title%></strong></h4>
        </div>
        <!-- <div class="col-2"></div> -->
      </div>
      <% if @event.subtitle %>
        <div class="subtitle">
          <p><light><%=@event.subtitle%></light></p>
        </div>
      <% end %>
    </div>
    <div class="row content-info">
      <div class="left-content col-8">
        <div class="flex-content" style="background-color: transparent;">
            <p><%=@event.content.html_safe%></p>
        </div>
        <div class="imgs">
          <%= cl_image_tag(@event.images.where(main: false)[0].photo, crop: :fit) %>
        </div>
        <div class="newsletter-show">
          <%= render 'shared/newsletter' %>
        </div>
        <div class="imgs">
          <%= cl_image_tag(@event.images.where(main: false)[1].photo, crop: :fit) %>
        </div>
      </div>

      <div class="flex-sidebar-place col-4">
        <div class="flex-info-place">
          <div class="info">
            <p id="info"><%=@event.event_date.strftime("%d %B %Y, at %H:%m")%></p>
            <p id="info"><%=@event.address%></p>
            <% if @event.details %>
              <p id="info"><%=@event.details.html_safe%></p>
            <% else %>
              <p id="info">No details</p>
            <% end %>
            <% if @event.price_indication %>
              <p id="info"><%=@event.price_indication.html_safe%></p>
            <% else %>
              <p id="info">No price indication</p>
            <% end %>
          </div>
        </div>
        <% if @event.state == "upcoming" %>
          <%= link_to "Get tickets", @event.tickets_link, class: "btn btn-link btn-outline-success", id: "booking-btn", target: "_blank" %>
        <% end %>
        <%= render 'shared/brunch_club' %>
        <%= render 'shared/bk_books' %>
      </div>
    </div>
  </div>
</div>
