<div class="banner">
  <form action="/action_page.php" >
    <div class="custom-select" placeholder="All locations" >
      <select>
        <option value="Restaurant">Restaurant</option>
        <option value="Cantine">Cantine</option>
        <option value="Bar">Bar</option>
        <option value="Brunch">Brunch</option>
        <option value="Café">Café</option>
      </select>
    </div>
    <input class="close-to" type="address" placeholder="Close to ..." >
    <button type="submit" class="button-go">Go</button>
  </form>
</div>
<div class="container">
  <div class="recent neutral-text">
    <h3> Recent locations</h3>
  </div>
  <div class="card-grid justify-content-center" >
    <% @places.each do |place| %>
      <div class="card-resto">
        <%= cl_image_tag(place.images.where(main: true).first.photo, crop: :fit) %>
        <div class="card-resto-infos" style="text-decoration: none;">
          <h2><%= link_to place.title, place_path(place), class: "text-dark" %></h2>
        </div>
        <div class="card-resto-subtitle">
          <p><%= place.subtitle %></p>
        </div>
        <div class="card-resto-content">
          <p><%= truncate(place.address.gsub(",", "<br/>").html_safe, :length => 120) %></p>
          <% place.tags.each_with_index do |tag, index| %>
            <% if index == place.tags.count - 1 %>
              <span><%= tag.name %></span>
            <% else %>
              <span><%= tag.name %>,</span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="button mb-5">
    <h5><%= link_to "See more", places_path %></h5>
  </div>
</div>
<div class="brunch-club">
  <h3>Le Brunch Club</h3>
  <div class="brunch-club-img">
    <%= image_tag "brunchclub_home.jpg" %>
  </div>
  <div class="button">
    <h5><%= link_to "More info", events_path %></h5>
  </div>
</div>
<%= render 'shared/newsletter' %>
<div class="events">
  <h3>Brussels' Kitchen's Events</h3>
    <div class="flex-events">
      <% @events.each do |event| %>
        <div>
          <%= link_to event.title, event_path(event) %>
          <%= image_tag "brunchclub_carre.jpg" %>
        </div>
        <% end %>
    </div>
  <div class="button">
    <h5><%= link_to "See all", events_path %></h5>
  </div>
  <div class="events">
  <h3>New hotspots to eat out with style</h3>
    <div class="flex-books">
        <div>
          <%= image_tag "books.jpg" %>
        </div>
    </div>
  <div class="button">
    <h5><%= link_to "Discover our books", books_path %></h5>
  </div>
</div>

