<div class="banner">
  <div class="search-form form-inline">
    <%= form_for(:query, url: places_path, method: :get) do |f| %>
      <div class="checkboxes-container align-items-center">
        <div class="search-dropdown">
          <%= f.fields_for :tags do |ff| %>
            <div class="multiselect">
              <div class="select-box" id="select-box1">
                <select>
                  <option>Places ▾</option>
                </select>
                <div class="over-select"></div>
              </div>
            </div>
            <div class="dropdown-over2" id="checkboxes1">
              <% Tag::TAGS.each do |tag| %>
                <div class="form-group tag-home">
                  <%= ff.check_box tag, value: tag, class: "form-control tag-home-input" %>
                  <div class="d-flex tag-home-label"><strong>+</strong><%= ff.label tag %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="location-searchbar">
          <%= f.text_field "address", placeholder: "Close to...", id: "location-searchbar" %>
        </div>
        <div class="find">
          <%= f.submit "Go", value: "Go", class: "form-control go-button-home" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="recent neutral-text">
    <h3>Recent locations</h3>
  </div>
  <div class="card-grid justify-content-center" >
    <% @places.each do |place| %>
      <div class="card-resto">
        <%= link_to cl_image_tag(place.images.where(main: true).first.photo, crop: :fit), place_path(place), class: "card-resto" %>
        <div class="card-resto-infos" style="text-decoration: none;">
          <h2><%= link_to place.title, place_path(place), class: "text-dark" %></h2>
        </div>
        <div class="card-resto-subtitle">
          <p><%= place.subtitle %></p>
        </div>
        <div class="card-resto-content">
          <p><%= truncate(place.address.gsub(",", "<br/>").html_safe, :length => 120) %></p>
          <% place.tags.each_with_index do |tag, index| %>
            <% if index == place.tags.count - 1 %>
              <span><%= tag.name %></span>
            <% else %>
              <span><%= tag.name %>,</span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="button mb-5">
    <h5><%= link_to "See more", places_path %></h5>
  </div>
</div>
<div class="brunch-club">
  <h3>Le Brunch Club</h3>
  <div>
    <%= link_to image_tag("brunchclub_home.jpg"), event_path(Event.find_by(title: "Le Brunch Club").id), class: "brunch-club-img"  %>
  </div>
  <div class="button">
    <h5><%= link_to "More info", event_path(Event.find_by(title: "Le Brunch Club").id) %></h5>
  </div>
</div>
<%= render 'shared/newsletter' %>
<div class="events">
  <h3>Brussels' Kitchen's Events</h3>
  <div class="flex-events">
    <% @events.each do |event| %>
      <div>
        <%= link_to event.title, event_path(event) %>
        <%= link_to cl_image_tag(event.images.where(main: true).first.photo, crop: :fit), event_path(event) %>
      </div>
      <% end %>
  </div>
  <div class="button">
    <h5><%= link_to "See all", events_path %></h5>
  </div>
  <div class="events">
    <h3>New hotspots to eat out with style</h3>
    <div>
      <%= link_to image_tag("books.jpg"), books_path, class: "flex-books"  %>
    </div>
  <div class="button">
    <h5><%= link_to "Discover our books", books_path %></h5>
  </div>
</div>
