<div class="books-grid">
  <% @books.each do |book| %>
    <div class="card-book">
      <%= link_to cl_image_tag(book.images.where(main: true).first.photo, crop: :fit), book_path(book), class: "card-book" %>
      <div class="card-book-content">
        <h6><%=link_to book.title, book_path(book) %></h6>
        <h6 ><%= book.unit_price %>€</h6>
        <%= form_tag order_lines_path do %>
        <%= hidden_field_tag 'book_id', book.id %>
        <%= hidden_field_tag 'product_sku', book.product_sku %>
        <%= hidden_field_tag 'price', book.unit_price %>
        <%= hidden_field_tag 'amount_of_products', 1 %>
        <%= submit_tag 'Add to basket', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="basket">
  <div class="basket-box">
    <p>You have  <%= @number_of_items %> book in your basket</p>
      <% if !@order.nil? %>
      <%= link_to "Go to checkout", order_path(@order), id: "booking-btn" %>
    <% end %>
  </div>
</div>
