<div class="books-grid">
  <% @books.each do |book| %>
    <div class="card-book">
      <%= link_to cl_image_tag(book.images.where(main: true).first.photo, crop: :fit), book_path(book), class: "card-book" %>
      <div class="card-book-content">
        <h6><%=link_to book.title, book_path(book) %></h6>
        <h6 ><%= book.unit_price %>€</h6>
        <%= form_tag order_lines_path do %>
        <%= hidden_field_tag 'book_id', book.id %>
        <%= hidden_field_tag 'product_sku', book.product_sku %>
        <%= hidden_field_tag 'price', book.unit_price %>
        <%= hidden_field_tag 'amount_of_products', 1 %>
        <%= submit_tag 'Order now', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="basket">
  <%= @order.order_lines.count %>
</div>

<%= link_to "Go to checkout", @place.booking_link, class: "btn btn-link btn-outline-success", id: "booking-btn", target: "_blank" %>
<div class="purchase">
  <%= @order.order_lines.count %>
</div>


