<div class="places" style="background-color: white;">
  <div class="page-setup row">
    <div class="book-img col-8">
      <%= cl_image_tag(@book.images.where(main: true).first.photo, crop: :fit) %>
        <div class="justify-content-between">
        <!-- <div class="col-2"></div> -->
        <div class="title">
          <h4><strong><%=@book.title%></strong></h4>
        </div>
        <!-- <div class="col-2"></div> -->
      </div>
    </div>
    <div class="content-info col-4">
      <% if @book.description %>
        <div class="flex-content" style="background-color: transparent;">
            <p><%=@book.description.html_safe%></p>
        </div>
      <% end %>
      <div class="flex-sidebar-place">
        <div class="flex-info-place">
          <div class="info">
            <p id="info"><%=@book.unit_price%>€</p>
          </div>
        </div>
        <%= render 'shared/brunch_club' %>
        <%= render 'shared/bk_books' %>
      </div>
    </div>
  </div>
</div>
