<div class="container">
  <div class="row py-4">
    <div class="books-to-buy">
      <ul>
        <% @order.order_lines.each do |line| %>
          <li>
            <%= image_tag Book.where(id: line.productable_id)[0].images.first.photo_url, width: '100px' %>
            <%= Book.where(id: line.productable_id)[0].title %>
            <div class="product-remove-one" data-product-id="<%= line.id %>">-</div>
            <%= line.amount_of_products %>
            <div class="product-add-one" data-product-id="<%= line.id %>">+</div>
            <%= humanized_money_with_symbol (line.price * line.amount_of_products) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col">
      <%= form_for(:query, url: places_path, method: :get) do |f| %>
        <%= f.label "First Name" %>
        <%= f.text_field "First Name" %>
        <%= f.label "Last Name" %>
        <%= f.text_field "Last Name" %>
        <%= f.label "Street number" %>
        <%= f.text_field "Street number" %>
        <%= f.label "Street name" %>
        <%= f.text_field "Street name" %>
        <%= f.label "Postal Code" %>
        <%= f.text_field "Postal Code" %>
        <%= f.label "City" %>
        <%= f.text_field "City" %>
        <%= f.label "Country" %>
        <%= f.text_field "Country" %>
        <%= f.submit "Add this address", value: "Add this address", class: "form-control go-button" %>
      <% end %>
    </div>
    <h1>Checkout summary</h1>
    <p>Total purchase for <strong><%= humanized_money_with_symbol @order.sum_total_price %></strong></p>
    <button id="pay" class="btn btn-primary">Pay</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const paymentButton = document.getElementById('pay');
      paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @order.checkout_stripe_session_id %>'
        });
      });
    </script>
  </div>
</div>
