<!-- Searchbar -->
<div class="search-form">
  <%= form_for(:query, url: places_path, method: :get) do |f| %>
    <div class="form-group">
      <%= f.fields_for :tags do |ff| %>
        <% Tag::TAGS.each do |tag| %>
          <%= ff.label tag %>
          <%= ff.check_box tag, value: tag %>
          <% end %>
        <% end %>
    </div>
    <div class="form-group">
      <%= f.fields_for :categories do |ff| %>
        <% Category::CATEGORIES.each do |category| %>
          <%= ff.label category %>
          <%= ff.check_box category, value: category %>
          <% end %>
        <% end %>
    </div>
    <%= f.submit "Go", value: "submit" %>
  <% end %>
</div>
<!-- Resto cards -->
<div class="search-map">
  <div class="card-grid justify-content-center col-7" >
    <% @places_list.each do |place| %>
      <div class="card-resto">
        <%= cl_image_tag(place.images.where(main: true).first.photo, crop: :fit) %>
        <div class="card-resto-infos" style="text-decoration: none;">
          <h2><%= link_to place.title, place_path(place), class: "text-dark" %></h2>
        </div>
        <div class="card-resto-subtitle">
          <p><%= place.subtitle %></p>
        </div>
        <div class="card-resto-content">
          <p><%= truncate(place.address, :length => 120) %></p>
          <% place.tags.each_with_index do |tag, index| %>
            <% if index == place.tags.count - 1 %>
              <span><%= tag.name %></span>
            <% else %>
              <span><%= tag.name %>,</span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Map -->
  <div class="col-5"
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

