<div class="places" style="background-color: white;">
  <div class="page-setup">
    <% if @place.images.where(main: true).first.photo %>
      <div class="flex-main-img">
        <%= cl_image_tag(@place.images.where(main: true).first.photo, crop: :fit) %>
      </div>
    <% end %>
    <div class="flex-title text-center col-12">
      <div class="justify-content-between">
        <!-- <div class="col-2"></div> -->
        <div class="title">
          <h4><strong><%=@place.title%></strong></h4>
        </div>
        <!-- <div class="col-2"></div> -->
      </div>
      <div class="subtitle">
        <p><light><%=@place.subtitle%></light></p>
      </div>
    </div>
    <div class="row content-info">
      <div class="flex-content col-8" style="background-color: transparent;">
          <p><%=@place.content.html_safe%></p>
      </div>
      <div class="flex-sidebar-place col-4">
        <div class="flex-info-place">
          <div class="info">
            <p id="info"><%=@place.address%></p>
            <% if @place.website %>
              <p><%= link_to "Website", @place.website, target: :_blank %></p>
            <% else %>
              <p id="info">No website</p>
            <% end %>
            <% if @place.phone_number %>
              <p id="info"><%=@place.phone_number%></p>
            <% else %>
              <p id="info">No phone number</p>
            <% end %>
            <% if @place.opening_hours %>
              <p id="info"><%=@place.opening_hours.html_safe%></p>
            <% else %>
              <p id="info">No opening hours</p>
            <% end %>
            <% if @place.price_indication %>
              <p id="info"><%=@place.price_indication.html_safe%></p>
            <% else %>
              <p id="info">No price indication</p>
            <% end %>
          </div>
        </div>
        <a href="https://deliveroo.be/fr" class="btn btn-link btn-outline-success" id="deliveroo-btn" target="_blank">Deliveroo</a>
        <a href="https://deliveroo.be/fr" class="btn btn-link btn-outline-success" id="booking-btn" target="_blank">Book a table</a>
        <%= render 'shared/brunch_club' %>
        <%= render 'shared/bk_books' %>
      </div>
    </div>
  </div>
</div>
