<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url"                content="https://brusselskitchen.herokuapp.com/" />
    <meta property="og:type"               content="app" />
    <meta property="og:title"              content="Quality restaurants at a grasp" />
    <meta property="og:description"        content="Tired of spending hours looking for the right restaurant?" />
    <meta property="og:image"              content="https://brusselskitchen.herokuapp.com/assets/background-home-tulipant-615ee57facb66fa8b3585f5502e5308c80964d7810a842b7b2bc29e2e2540f0f.jpg">
    <title>Brussels' Kitchen</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.10/css/all.css' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="set_navbar">
      <%= yield %>
    </div>
    <script>
      let expanded1 = false;
      let expanded2 = false;
    </script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/footer' %>
  </body>
</html>
