<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <script src="https://kit.fontawesome.com/c3484850bb.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="set_navbar">
      <%= yield %>
    </div>
    <script>
      let expanded1 = false;
      let expanded2 = false;
      const showCheckboxes = (dropdown_name) => {
        const checkboxes = document.getElementById(dropdown_name);
        if (dropdown_name === "checkboxes1") {
          if (!expanded1) {
            checkboxes.style.display = "block";
            expanded1 = true;
          } else {
            checkboxes.style.display = "none";
            expanded1 = false;
          }
        } else {
          if (!expanded2) {
            checkboxes.style.display = "block";
            expanded2 = true;
          } else {
            checkboxes.style.display = "none";
            expanded2 = false;
          }
        }
      };
    </script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/footer' %>
  </body>
</html>
